*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
  background-color: rgb(166, 187, 208);
}

a{
text-decoration: none;
margin-left: 20px;
}
.cointainer1{
margin-top: 0;
background-color: aliceblue;
display: flex;
justify-content: space-between;
height: 10vh;
align-items: center;

}
.head-left{
  margin-left: 40px;
font-family: Arial, Helvetica, sans-serif;
 color: rgb(27, 20, 20);

}
.ig{
background-color: aliceblue;
  height: 20px;
  border-radius: 10px;
}
.head-right{
margin-right: 100px;
display: flex;
gap: 20px;

}

.head-right select{
background: transparent;
font-family: Arial, Helvetica, sans-serif;
width: 40px;
height: 20px;

}

.cointainer2{
display: flex;
justify-content: space-between;


}

.cointainer2 div{
margin: 20px 40px;
height: 160px;
width: 160px;
background-color:rgb(218, 228, 228);
border: 2px solid black;

}

.cointainer2 h3{


}

