*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
  background-color: rgb(166, 187, 208);
}


a{
   text-decoration: none;
 color: rgb(78, 75, 75);
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
}

header{

  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  background-color: aliceblue;
height: 60px;
align-items: center;

}

.head1{
margin: 0 50px;
position: relative;

}
.head1 img {
  height: 20px;
  width: 20px;
  margin-right: 40px;
}

.head1 a{
  margin-right: 12px;
}


.More{
  position: relative;
  display: inline-block;
}
.More-child{
 
  position: absolute;
  top: 20px;
  left: 0;
  width: 240px;

  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
display: none;
}


.More:hover .More-child{
  display: block;
}
.More-child a{
  display: block;
   padding: 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  text-decoration: none;
  color: #222;
  background: #f3f5f9;

}
#id{
  color: rgb(190, 209, 19);
}

.head2{
margin: 0 50px;
display: flex;
gap: 36px;
}

.All{
position: relative;


}

.All-child{
position: absolute;
display: none;
width: 100px;
 top: 20px;
  left: 0;
  width:100px ;

  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

}
.All:hover .All-child{
  display: block;
}


.All-child a{
 
}

.All-child option{

  display: block;
   padding: 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  text-decoration: none;
  color: #222;
  background: #f3f5f9;
}