*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
  background-color: rgb(182, 207, 212);
  
}


a{
   text-decoration: none;
 color: rgb(78, 75, 75);
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
}

header{

  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  background-color: #ffffff;
height: 60px;
align-items: center;

}

.head1{
margin: 0 50px;
position: relative;

}
.head1 img {
  height: 20px;
  width: 20px;
  margin-right: 40px;
}

.head1 a{
  padding: 8px;
  margin-right: 12px;
  border-radius: 8px;
}
.head1 a:hover{
  background-color: #c6d5e9;
}

.head2 i{
  padding: 12px;
 background-color: #146fe6;
 color: #ffffff;
 border-radius: 8px;
height: 40px;
 width: 40px;
}

.head2 a{
  color: #146fe6;
}

#f11{
  background-color: #ffffff;
  border: 1px solid #a2b5cc;
  color: #146fe6;

}
#f1{
color: #146fe6;
  background-color: aliceblue;
}

.More{
  position: relative;
  display: inline-block;
}
.More-child{
 
  position: absolute;
  top: 20px;
  left: 0;
  width: 240px;

  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
display: none;
}


.More:hover .More-child{
  display: block;
}
.More-child a{
  display: block;
   padding: 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  text-decoration: none;
  color: #222;
  background: #f3f5f9;

}

.head2{
margin: 0 50px;
display: flex;
gap: 36px;
}

.All{
position: relative;


}

.All-child{
position: absolute;
display: none;
margin-right: 80px;
 top: 44px;

  width:160px ;

background: #f3f5f9;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

}
.All:hover .All-child{
  display: block;
}


.All-child option{

  display: block;
  
  margin-bottom: 4px;
  text-decoration: none;
  color: #222;
  


}

/*------------------------browser-----------------------------------*/

.browser{
   display: flex;
  justify-content: space-between;
  margin: 0 20px;
  background-color: #ffffff;
height: 100px;
align-items: center;

 margin-top: 1px;
}

.nav1{
margin: 0 100px;
color: #146fe6;
}
.nav2{
  display: flex;
  margin: 0 100px;
  gap: 20px;

}
.nav2 i{
  padding: 12px;
  background-color: #6d89bf;
  color: #ffffff;
  border-radius: 8px;
  height: 40px;
  width: 40px;
 
}

.nav2 i:hover{
  background-color: #146fe6;
}

.box-cointainer{
  width: 100%;
  position: relative;
  overflow: hidden;
  
}

.box{
  display: flex;
  margin-top: 20px;
  gap: 40px;
width: max-content;
  animation: boxestransition 16.2s linear infinite;
}


.box1{
  height: 160px;
  width: 280px;
  border: 1px solid black;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #ffffff;
  
}
@keyframes boxestransition{
  from{
    transform: translateX(0%);
  }
  to{
transform: translateX(-50%);
  }
}

.box1 i{
margin:16px;
padding: 12px;
height: 40px;
width: 40px;
border-radius: 12px;
background-color: #afd3d5;
color: #146fe6;
}
.box1 h3{
  margin:16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 140%;
}